body {
  min-height: 2000px;
  padding-top: 70px;
}
a,
a:focus,
a:hover {
  color: #333;
}
.imageHolderMain {
 display: block;
 opacity: 1;
 height: 550px;
 width: 750px;
 overflow: hidden;
 background-size: cover;
 background-position: 50% 20%;
 border: 1px solid #DFDFDF;
 border-radius: 3px;
}